<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" style="background-color: #E5E4E2;">

    <ul class="sidebar-nav" id="sidebar-nav">
      <!-- User Dashboard -->
      <div class="container-fluid bg-secondary p-2 text-light">
        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="/admin_home">
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
          </a>
        </li>
    
        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/location">
            <i class="fa-solid fa-address-card"></i>
            <span>Location Add</span>
          </a>
        </li>
  
        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/delivery_man">
            <i class="fa-solid fa-address-card"></i>
            <span>Delevery-man-info</span>
          </a>
        </li>
  
        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/executive">
            <i class="fa-solid fa-address-card"></i>
            <span>Office Executive</span>
          </a>
        </li>
  
        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/corporate_admin_booking">
            <i class="fa-solid fa-address-card"></i>
            <span>Corporate Booking</span>
          </a>
        </li>
  
        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/order_ps">
            <i class="fa-solid fa-address-card"></i>
            <span>Pending Orders</span>
          </a>
        </li>

        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/allorder">
            <i class="fa-solid fa-address-card"></i>
            <span>All Orders Activity</span>
          </a>
        </li>

        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/signup">
            <i class="fa-solid fa-address-card"></i>
            <span>Create an account</span>
          </a>
        </li>
       
  
        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/loginform">
            <i class="fa-solid fa-address-card"></i>
            <span>Login</span>
          </a>
        </li>

        
  
      
  
  </div>
  </ul>
  
  </aside><!-- End Sidebar-->