<app-admin-sidebar></app-admin-sidebar>
<main id="main" class="main">

    <div class="container" style="margin-bottom: 10ch;" >
        <div class="border border-info p-4">
        <div class="text-center bi-box-arrow-in-right" >
            <h2>
                Add Location
            </h2>
        </div>
        <form class="row g-12" [formGroup]="form" (ngSubmit)="save()" name="main_form">
            <div class="col-md-6">
              <label for="inputName5" class="form-label">STATUS</label>
              <select id="inputState" class="form-select" formControlName="status">
                <option [selected]>Choose...</option>
                <option>Active</option>
                <option>Deactive</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputEmail5" class="form-label">ADD TOWN</label><br>
              <input formControlName="place" type="text" class="form-select">
            </div>  
            <div class="text-center mt-2">
              <button type="submit" style="width: 20rem; color:#f2f3f3 ;background-color:#05816d "
              class="btn btn-success btn-block mb-4"> {{isEdit?'Update':
              'Save'}} </button>
              <!-- <button  type="reset" class="btn btn-outline-secondary m-2">Reset</button> -->
            </div>
          </form>
    </div>  
    <h2 class="fw-bold mb-5 text-center mt-3" style="color:#0b0b0b  ">Location List</h2>
    <div class="border border-info p-4 mt-5">
        <table class="table table-striped mt-5">
            <thead>
              <tr>
                <th scope="col">STATUS</th>
                <th scope="col">Location</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Status of status">
                <td>{{Status.status}}</td>
                <td>{{Status.place}}</td>
                <td class="text-center">
                  <button type="button" style="margin-right: 10px;" class="btn btn-warning" (click)="edit(Status)">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
    </main>

