
<section class="vh-100" style="background-color: #f7fbfcec;">
    <div class="container py-5 h-100">
        <form>
    <div class="row">
        <div class="col-md-4 mt-3">
            <img style="width: 150px;" src="assets\img\image1.png\" alt="">
        </div>    
    </div>
    <div class="col-md-8 mt-3">
        <h1>Tonmoy Ahamed</h1>
        <!-- <h4 class="fw-lighter">kayllanpur,Dhaka-1216</h4>
         -->
        <h4 class="fw-lighter">Contact: +88-01750942992
        </h4>
        <h4 class="fw-lighter">Email: tonmoyAhamed01750@gmail.com</h4><br>

    </div>
</form>
</div>

</section>
