<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar bg-secondary">

    <ul class="sidebar-nav" id="sidebar-nav">
      <!-- User Dashboard -->
      <div class="container-fluid bg-secondary p-2 text-light">
        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
          </a>
        </li>
<!--     
        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/dl_m">
            <i class="fa-solid fa-address-card"></i>
            <span>waiting for pickup</span>
          </a>
        </li> -->
  
        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/recv">
            <i class="fa-solid fa-address-card"></i>
            <span>Waiting for Delivery</span>
          </a>
        </li>

        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="/deliverd">
            <i class="fa-solid fa-address-card"></i>
            <span>Work Histroy</span>
          </a>
        </li>

        <li class="nav-item mt-3">
          <a class="nav-link " routerLink="">
            <i class="fa-solid fa-address-card"></i>
            <span>Sign Out</span>
          </a>
        </li>
  </div>
  </ul>
  
  </aside><!-- End Sidebar-->
