<app-admin-sidebar></app-admin-sidebar>
<main id="main" class="main">

    <div class="container" style="margin-bottom: 10ch;" >
        <div class="border border-info p-4">
        <div class="text-center bi-box-arrow-in-right" >
            <h2>
             Office Executive Information
            </h2>
        </div>
        <form class="row g-12" action="" [formGroup]="form" (ngSubmit)="save()">
            <div class="col-md-6">
              <label for="inputName5" class="form-label">Name</label>
              <input type="text" class="form-control" id="inputName5" formControlName="exeName">
            </div>

            <div class="col-md-6">
              <label for="inputName5" class="form-label">Cell</label>
              <input type="text" class="form-control" id="inputName5" formControlName="exeCell">
            </div>
            <div class="col-md-6">
              <label for="inputEmail5" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail5" formControlName="exeEmail">
            </div>

            <div class="col-md-6">
              <label for="inputPassword5" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword5" formControlName="exePassword">
            </div>
            <div class="col-md-12">
              <label for="inputAddress5" class="form-label">Address</label>
              <textarea class="form-control" id="inputPassword5" formControlName="exeAddress"></textarea>
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <select id="inputState" formControlName="exeCity" class="form-select">
                <option value="Select"  selected>Select</option>
                <option *ngFor="let town of status" value="{{town.place}}">{{town.place}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Employee id</label>
              <input type="text" class="form-control" id="inputCity" formControlName="empId">
            </div>
            <div class="text-center mt-2">
              <button type="submit" style="width: 20rem; color:#f2f3f3 ;background-color:#05816d "
              class="btn btn-success btn-block mb-4"> {{isEdit?'Update':
              'Save'}} </button>
              <!-- <button  type="reset" class="btn btn-outline-secondary m-2">Reset</button> -->
            </div>
          </form>
    </div>
    <div class="border border-info p-4 mt-2">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Executive Name</th>
                <th scope="col">Executive Cell</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Emp Id</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

  
    <tbody>
      <tr *ngFor="let item of executiveoffice">
        <td>{{item.exeName}}</td>
        <td>{{item.exeCell}}</td>
        <td>{{item.exeEmail}}</td>
        <td>{{item.exeAddress}}</td>    
       <td>{{item.exeCity}}</td>
        <td>{{item.empId}}</td>
        
        

        <td class="text-center">
          <button type="button" style="margin-right: 10px;" class="btn btn-warning" (click)="edit(item)">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteById(item.id)">
            <i class="fa fa-trash"></i>
          </button>

        </td>
      </tr>
    </tbody>
          </table>
    </div>
    </div>
    </main>
