<!-- ======= Sidebar ======= -->
<!-- <aside id="sidebar" class="sidebar bg-info"> -->
  <aside id="sidebar" class="sidebar" style="background-color: #F0FFFF;">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- User Dashboard -->
    <div class="container-fluid bg-f0932a p-2">
      <li class="nav-item mt-2">
        <a class="nav-link" routerLink="/">
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </a>
      </li>
  
      <li class="nav-item mt-2">
        <a class="nav-link " routerLink="/about_emf">
          <i class="fa-solid fa-address-card"></i>
          <span>About Us</span>
        </a>
      </li>

      <li class="nav-item mt-2">
        <a class="nav-link " routerLink="/order_details">
          <i class="fa-solid fa-address-card"></i>
          <span>Courier Delivery</span>
        </a>
      </li>

      <li class="nav-item mt-2">
        <a class="nav-link " routerLink="/corporate_booking">
          <i class="fa-solid fa-address-card"></i>
          <span>Corporates Registration</span>
        </a>
      </li>

      <li class="nav-item mt-2">
        <a class="nav-link " routerLink="/user_details">
          <i class="fa-solid fa-address-card"></i>
          <span>Corporate Booking</span>
        </a>
      </li>

      <li class="nav-item mt-2">
        <a class="nav-link " routerLink="/contact">
          <i class="fa-solid fa-address-card"></i>
          <span>Contact-us</span>
        </a>
      </li>
      
      <li class="nav-item mt-2">
        <a class="nav-link " routerLink="/">
          <i class="fa-solid fa-address-card"></i>
          <span>Log out</span>
        </a>
      </li> 
</div>
</ul>

</aside><!-- End Sidebar-->