/* .status{
    background-color: rgb(93, 145, 104);
    color: white;
    font-size: large;
}

.col{
    border: 2px;
    border-color: 2px solid #111111;
    border-radius: 5px;
    box-shadow: 1cap;
    margin: 20px;

} */