<main id="main" class="main">

    <div class="container" style="margin-bottom: 10ch;" >
        <div class="border border-info p-4">
        <div class="text-center bi-box-arrow-in-right" >
            <h2>
                Registration Here
            </h2>
        </div>
        <form class="row g-12" action="">
            <div class="col-md-6">
              <label for="inputName5" class="form-label">Your Name</label>
              <input type="text" class="form-control" id="inputName5">
            </div>
            <div class="col-md-6">
              <label for="inputEmail5" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail5">
            </div>
            <div class="col-md-6">
              <label for="inputPassword5" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword5">
            </div>
            <div class="col-md-6">
              <label for="inputAddress5" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddres5s" placeholder="1234 Main St">
            </div>
            <div class="col-md-4">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <div class="text-center mt-2">
              <button type="submit" class="btn btn-outline-success m-2">Submit</button>
              <button  type="reset" class="btn btn-outline-secondary m-2">Reset</button>
            </div>
          </form>
    </div>
    
    <div class="border border-info p-4 mt-2" >
        <form class="row g-12" action="">
        <div class="col-md-2 text-center ">
            <label for="inputName5" class="label label-primary "><Strong>Name</Strong></label>
            <label for="inputName5" class="form-label "></label>
          </div>
          <div class="col-md-2 text-center">
            <label for="inputName5" class="label label-primary "><Strong>Email</Strong></label>
            <label for="inputName5" class="form-label "></label>
          </div>
          <div class="col-md-3 text-center">
            <label for="inputName5" class="label label-primary "><Strong>Address</Strong></label>
            <label for="inputName5" class="form-label "></label>
          </div>
          <div class="col-md-1 text-center">
            <label for="inputName5" class="flabel label-primary "><Strong>City</Strong></label>
            <label for="inputName5" class="form-label "></label>
          </div>
          <div class="col-md-1 text-center">
            <label for="inputName5" class="label label-primary"><Strong>State</Strong></label>
            <label for="inputName5" class="form-label "></label>
          </div>
          <div class="col-md-1 text-center">
            <label for="inputName5" class="label label-primary "><Strong>Zip</Strong></label>
            <label for="inputName5" class="form-label "></label>
          </div>
    
          <div class="col-md-2 text-center">
            <label class="label label-primary"><Strong>Delete/Edit</Strong></label>
            <a type="submit" class="form-label "></a>
            <a type="submit" class="form-label "></a>
          </div>
        </form>
    </div>
    
    <div class="border border-info p-4 mt-2">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
    </main>

